version: '3.8'

services:
  postgres:
    image: postgis/postgis:15-3.3
    container_name: cine-catch-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: cine-catch
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: